<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher1_round"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme"
        tools:targetApi="31">
        <activity  android:theme="@style/CustomTheme"
            android:name=".ui.activity.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:theme="@style/CustomTheme"
            android:name=".ui.activity.FAQsHelp"
            android:exported="false" />

        <activity android:theme="@style/CustomTheme"
            android:name=".ui.activity.TipsDetailsActivity"
            android:exported="false" />
        <activity android:theme="@style/CustomTheme"
            android:name=".ui.activity.TipsTricks"
            android:exported="false" />
        <activity android:theme="@style/CustomTheme"
            android:name=".ui.activity.BuyPremium"
            android:exported="false" />
        <activity android:theme="@style/CustomTheme"
            android:name=".ui.activity.InfraCamerDetector"
            android:exported="false" />
        <activity android:theme="@style/CustomTheme"
            android:name=".ui.activity.ObjectDetector"
            android:exported="false" />
        <activity android:theme="@style/CustomTheme"
            android:name=".ui.activity.InfraredCamera"
            android:exported="true" />
        <activity android:theme="@style/CustomTheme"
            android:name=".ui.activity.MetalDetector"
            android:exported="false" />
        <activity android:theme="@style/CustomTheme"
            android:name=".ui.activity.SpyCam"
            android:exported="false" />
        <activity android:theme="@style/CustomTheme"
            android:name=".ui.activity.WiredCameraResult"
            android:exported="true" />
        <activity android:theme="@style/CustomTheme"
            android:name=".ui.activity.WiredCamera"
            android:exported="true" />
        <activity android:theme="@style/CustomTheme"
            android:name=".ui.activity.HiddenCameraResult"
            android:exported="true" />
        <activity android:theme="@style/CustomTheme"
            android:name=".ui.activity.HiddenCamera"
            android:exported="true" />
        <activity  android:theme="@style/CustomTheme"
            android:name=".ui.activity.MainActivity"
            android:exported="true"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>